<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Alterar senha E&P</title>
    <script>
            function validade() {
                let pass = document.getElementById("inputPassword");
                let confirPass = document.getElementById("inputConfirmPassword");

                let tipoButton = "submit";
                let existError = false;
                let messageError = "Não foi possível alterar sua senha.\n\nProblemas encontrado:\n";

                if (pass.value != confirPass.value) {
                    tipoButton = "button";
                    messageError += "Foram informadas senhas diferentes no compo \"Nova senha\" e \"Confirmar nova senha\".\n";
                    existError = true;
                }

                if (existError) {
                    alert(messageError);
                }

                document.getElementById("cadastro").setAttribute("type", tipoButton);
            }


    </script>
</head>

<body>
<div layout:fragment="body">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="@{/}">Home</a>
        </li>
        <li class="breadcrumb-item">
            Cadastrar nova senha
        </li>
    </ol>

    <div class="container-fluid text-center navbar-expand-md">
        <div class="row align-items-start">
            <div class="container card border-0 rounded-lg col-12 col-xl-8 login">
                <div class="card-header">
                    <h3 class="text-center font-weight-light">Mudança de senha</h3>
                    <img src="/resources/img/logo_invertido.png" alt="logo">
                </div>

                <div class="card-body">
                    <div class="alert alert-danger" th:if="${changePasswordError}">
                                <span class="font-weight-bold align-middle">Desculpe, não foi possível concluir a
                                    alteração da senha. Por gentileza, tente novamente.</span>
                    </div>
                    <form th:action="@{/account/update-user-password}" method="post" th:object="${usuario}">
                        <div class="form-group">
                            <label class="small mb-1" for="inputPassword">Nova senha</label>
                            <input class="form-control py-4" id="inputPassword" type="password"
                                   placeholder="Insira a nova senha" th:field="${usuario.senha}" required/>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputConfirmPassword">Confirmar nova senha</label>
                            <input class="form-control py-4" id="inputConfirmPassword" type="password"
                                   placeholder="Confirme a nova senha" required/>
                        </div>
                        <input type="hidden" id="userId" name="userId" th:field="${usuario.id}" th:value/>
                        <br>
                        <button class="btn btn-info " onclick="validade()" type="submit">Atualizar
                            senha
                        </button>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>
</body>

</html>