<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Login E&P</title>
</head>

<body>
    <div layout:fragment="body">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Home</a>
            </li>
            <li class="breadcrumb-item active">
                Login
            </li>
        </ol>

        <div class="container-fluid text-center navbar-expand-md">

            <div class="row align-items-start">

                <div class="container card border-0 rounded-lg col-12 col-xl-8 login">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light">Entrar na sua conta</h3>
                        <img src="/resources/img/logo_invertido.png" alt="logo">
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" th:if="${authenticationError}">
                            <span class="font-weight-bold align-middle">Email ou senha inválidos</span>
                        </div>
                        <form th:action="@{/account/authenticate}" method="post">
                            <div class="form-group">
                                <label class="small mb-1" for="username">Email</label>
                                <span data-tooltip="Dado Privado">
                                <input class="form-control py-4" id="username" name="username" type="email"
                                    placeholder="Insira o endereço de email" required />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="password">Senha</label>
                                <span data-tooltip="Dado Anônimo">
                                <input class="form-control py-4" id="password" name="password" type="password"
                                    placeholder="Insira a senha" required />
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" th:href="@{/account/forgot-my-password}">Esqueceu a senha?</a>
                                <button class="btn btn-info" type="submit">Autenticar</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small">
                            <a th:href="@{/account/register}">Precisa de uma conta? Cadastre-se!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>