<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Consultor XYZ E&P</title>
</head>
<body>
<div layout:fragment="body">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="@{/}">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="#">Parceiros</a>
        </li>
        <li class="breadcrumb-item active">
            Empresa 1
        </li>
    </ol>

    <h1 class="text-center">Conheça nossos parceiros de consultoria</h1>

    <div class="container-fluid text-center navbar-expand-md">
        <div class="row align-items-start">
            <hr>
            <div class="container-fluid text-center navbar-expand-md">
                <div class="row align-items-start">
                    <div class="col-12 py-3">
                        <div class="h-100 card">
                            <h3 class="card-header text-center text-dark mt-1">Empresa 1</h3>
                            <div class="container py-4">
                                <div class="row">
                                    <img class="consultoria_logo_empresa col-xl-3 col-12"
                                         src="../resources/img/logo_invertido.png" alt="logo">
                                    <div class="col-xl-9 col-12 text-left">
                                        <p>A Empresa X possui equipe multidisciplinar
                                            qualificada e experiente e ferramentas com metodologia para
                                            implementar
                                            de forma objetiva e assertiva.</p>
                                        <p>Nosso serviço de adequação é realizado por profissionais certificados
                                            pela Exin e também fazem parte da ANPPD (Associação Nacional dos
                                            Profissionais de dados).</p>
                                        <p>Garantimos uma experiência de treinamento atraente, instigante e
                                            inspiradora para dar adeus aos treinamentos convencionais, entediantes e
                                            pouco práticos.</p>
                                        <p>Nossas ferramentas de animação são customizáveis, para atender a
                                            necessidade e o perfil de sua equipe, com ilustrações criativas que
                                            retratam o cotidiano corporativo, tornando cada aprendizado uma
                                            experiência única e marcante.</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-xl-4 col-12">
                                        <i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i>
                                        <h5>Telefones para contato</h5>
                                        <p>(35) 9 9999-9999</p>
                                        <p>(35) 9 9999-9999</p>
                                        <p>(35) 9 9999-9999</p>
                                    </div>
                                    <div class="col-xl-4 col-12">
                                        <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
                                        <h5>Email</h5>
                                        <p><a href="mailto:teste@teste.com">teste@teste.com</a></p>
                                        <p><a href="mailto:teste@teste.com">teste@teste.com</a></p>
                                        <p><a href="mailto:teste@teste.com">teste@teste.com</a></p>
                                    </div>
                                    <div class="col-xl-4 col-12">
                                        <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
                                        <h5>Website</h5>
                                        <p><a href="#">teste.com.br</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Repetições-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>