<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Sobre o projeto E&P</title>
</head>
<body>
<div layout:fragment="body">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="@{/}">Home</a>
        </li>
        <li class="breadcrumb-item active">
            Sobre o projeto
        </li>
    </ol>

    <div class="container-fluid text-center navbar-expand-md">

        <div class="row align-items-start">

            <div class="container card border-0 rounded-lg col-12">
                <div class="">
                    <img src="/resources/img/logo_completa.png" alt="logo" width="250px">
                    <hr>
                    <div class="col-10 container text-center">
                        <h4>O fluxo de informações ocorre de forma acelerada em comparação aos séculos passados,
                            tendo em vista
                            que os dispositivos tecnológicos facilitam a comunicação entre pessoas, essas
                            tecnologias da informação e
                            comunicação estão cada vez mais presentes nas atividades tanto profissionais como
                            rotineiras das
                            pessoas.</h4>
                        <h4>A dependência na tecnologia gera uma superexposição de dados de usuários, numa
                            quantidade por vezes
                            incalculável de informações na rede que precisam de organização, tratamento e guarda
                            segura, para haver recuperação
                            quando assim for necessário. Porém quando essas ações não são efetuadas, abrem a
                            probabilidade de vazamento
                            de conteúdos importantes, gerando prejuízos aos envolvidos. Como, por exemplo, no uso
                            indevido de
                            imagens, clonagem de cartões, redes sociais hackeadas, fake news, entre outras.</h4>
                        <h4>Com essa nova era de tecnologia as leis foram atualizadas, para abranger o mundo
                            digital. Sendo assim o presente trabalho, vem para
                            descomplicar a lei e mostrar suas atualizações.</h4>


                        <br>

                        <h4>Desenvolvedores</h4>

                        <div class="row">
                            <div class="col-xl-3">
                                <img src="/resources/img/logo_invertido.png" class="rounded-circle img-fluid"
                                     alt="alysson"
                                     width="150px">
                                <P>Alysson Vasconcelos</P>
                                <a href="#">
                                    <button class="btn btn-dark col">GitHub</button>
                                </a>
                            </div>
                            <div class="col-xl-3">
                                <img src="/resources/img/logo_invertido.png" class="rounded-circle img-fluid"
                                     alt="Lucas Lima"
                                     width="150px">
                                <p>Lucas Lima</p>
                                <a href="#">
                                    <button class="btn btn-dark col">GitHub</button>
                                </a>
                            </div>
                            <div class="col-xl-3">
                                <img src="/resources/img/logo_invertido.png" class="rounded-circle img-fluid"
                                     alt="Victor Andrade"
                                     width="150px">
                                <p>Victor Andrade</p>
                                <a href="#">
                                    <button class="btn btn-dark col">GitHub</button>
                                </a>
                            </div>
                            <div class="col-xl-3">
                                <img src="/resources/img/logo_invertido.png" class="rounded-circle img-fluid"
                                     alt="William de Paula" width="150px">
                                <p>William de Paula</p>
                                <a href="#">
                                    <button class="btn btn-dark col">GitHub</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>