<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Avaliar registro como consultor E&P</title>
    <script>
        window.onload = function () {
            var updateError = $("#updateError").is(":checked");
            if (!updateError) {
                return;
            }

            let title = "Erro durante a avaliação";
            let messsage = "Não foi possível concluir a avaliação do registro. Por gentileza, tente novamente.";
            showModelError(messsage, title, false);
        }
    </script>
</head>

<body>
    <div layout:fragment="body">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a th:href="@{/}">Início</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/user/administrator-area}">Área do Administrador</a>
            </li>
            <li class="breadcrumb-item" th:unless="${isNewEvaluation}">
                <a th:href="@{/partner/request-register-list}">Solicitações de cadastro</a>
            </li>
            <li class="breadcrumb-item" th:if="${isNewEvaluation}">
                <a th:href="@{/partner/reproved-register-list}">Solicitações de cadastro reprovados</a>
            </li>
            <li class="breadcrumb-item">
                Avaliar consultor
            </li>
        </ol>

        <h1 class="text-center">Informações do consultor</h1>
        <br>
        <div class="container-fluid text-center navbar-expand-md col-12">
            <div class="row align-items-start">
                <div class="h-100 card col-12">
                    <h3 class="card-header text-center text-dark mt-1" th:text="${myPartner.nomeEmpresa}">
                        Empresa 1
                    </h3>
                    <div class="container py-4">
                        <div class="row">
                            <img class="consultoria_logo_empresa col-xl-3 col-12"
                                th:src="@{${myPartner.pathImagePartner}}" alt="logo">
                            <div class="col-xl-9 col-12 text-left">
                                <p style="white-space: pre;" th:utext="${myPartner.descricao}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xl-4 col-12">
                                <i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i>
                                <h5>Telefones para contato</h5>
                                <p th:unless="${myPartner.anonimo}">
                                    <a th:href="'tel:' + ${myPartner.telefone}" th:text="${myPartner.telefone}">
                                        (35) 99999-9999
                                    </a>
                                </p>
                                <p th:if="${myPartner.anonimo}" th:text="${myPartner.telefone}">
                                    (35) 99999-9999
                                </p>
                            </div>
                            <div class="col-xl-4 col-12">
                                <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
                                <h5>Email</h5>
                                <p th:unless="${myPartner.anonimo}">
                                    <a th:href="'mailto:' + ${myPartner.email}" th:text="${myPartner.email}">
                                        teste@teste.com
                                    </a>
                                </p>
                                <p th:if="${myPartner.anonimo}" th:text="${myPartner.email}">
                                    teste@teste.com
                                </p>
                            </div>
                            <div class="col-xl-4 col-12">
                                <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
                                <h5>Website</h5>
                                <p th:unless="${myPartner.anonimo}">
                                    <a th:href="@{${myPartner.website}}" th:text=" ${myPartner.website}">
                                        teste.com.br
                                    </a>
                                </p>
                                <p th:if="${myPartner.anonimo}" th:text=" ${myPartner.website}">
                                    teste.com.br
                                </p>
                            </div>
                        </div>
                        <input type="checkbox" id="updateError" th:checked="${updatePartnerError}" hidden />
                        <div class="row" th:unless="${isNewEvaluation}">
                            <div class="col-6">
                                <a th:href="@{/partner/approve-registration-request/{id} (id = ${myPartner.id})}"
                                    class="btn btn-success col-12">Aprovar registro</a>
                            </div>
                            <div class="col-6">
                                <a th:href="@{/partner/reprove-registration-request/{id} (id = ${myPartner.id})}"
                                    class="btn btn-danger col-12">Reprovar registro</a>
                            </div>
                            <div class="col-12 py-2" th:unless="${isNewEvaluation}">
                                <a th:href="@{/partner/request-register-list}" class="btn btn-secondary col-12">
                                    Cancelar avaliacao
                                </a>
                            </div>
                        </div>
                        <div class="row" th:if="${isNewEvaluation}">
                            <div class="col-6">
                                <a th:href="@{/partner/new-approve-registration-request/{id} (id = ${myPartner.id})}"
                                    class="btn btn-success col-12">
                                    Aprovar registro
                                </a>
                            </div>
                            <div class="col-6">
                                <a th:href="@{/partner/reproved-register-list}" class="btn btn-secondary col-12">
                                    Cancelar avaliação
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>