<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Lista de consultores E&P</title>
</head>

<body>
    <div layout:fragment="body">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/user/administrator-area}">Área do Administrador</a>
            </li>
            <li class="breadcrumb-item active">
                Lista de consultores
            </li>
        </ol>

        <h1 class="text-center">Lista de consultores</h1>
        <br>
        <a th:href="@{/user/administrator-area}" class="btn btn-secondary col-12 py-2">
            Área do administrador
        </a>
        <div class="container-fluid text-center navbar-expand-md">
            <div class="row align-items-start">
                <div class="table-responsive">
                    <div class="alert alert-danger col-12 text-center" th:unless="${existsPartner}">
                        <span class="font-weight-bold align-middle">
                            Não existem consultores aprovados no sistema no momento.
                        </span>
                    </div>
                    <table class="table table-bordered text-center" id="tabela" width="100%" cellspacing="0"
                        th:if="${existsPartner}">
                        <thead class="thead-dark">
                            <tr>
                                <th class="col-6">Empresa</th>
                                <th class="col-2">Serviço Técnico</th>
                                <th class="col-2">Serviço Jurídico</th>
                                <th class="col-2">Ação</th>
                            </tr>
                            <tr class="col-12">
                                <th><input class="col-10 col-md-10" type="text" id="txtColuna1" /></th>
                                <th><input class="col-10 col-md-10" type="text" id="txtColuna2" /></th>
                                <th><input class="col-10 col-md-10" type="text" id="txtColuna3" /></th>
                                <th><i class="fa fa-search col-md-1" aria-hidden="true"></i></th>
                            </tr>
                        </thead>
                        <tfoot class="thead-dark">
                            <tr>
                                <th>Empresa</th>
                                <th>Serviço Técnico</th>
                                <th>Serviço Jurídico</th>
                                <th>Ação</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr th:each="partner : ${registeredPartner}">
                                <td th:text="${partner.nomeEmpresa}" class="align-middle">Empresa 1</td>
                                <td class="align-middle">
                                    <input type="checkbox" class="form-control" th:checked="${partner.legislativo}"
                                        disabled>
                                </td>
                                <td class="align-middle">
                                    <input type="checkbox" class="form-control" th:checked="${partner.tecnico}"
                                        disabled>
                                </td>
                                <td>
                                    <div class="col-12">
                                        <a th:href="@{/partner/admin-detail/{id} (id = ${partner.idUsuario})}"
                                            class="btn col-12 btn-info">
                                            <i class="fas fa-info-circle"></i>
                                            Detalhes
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>