<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Conheça a LGPD</title>
</head>

<body>
<div layout:fragment="body">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="@{/}">Início</a>
        </li>
        <li class="breadcrumb-item active">
            Conheça a LGPD
        </li>
    </ol>

    <div class="container-fluid text-center navbar-expand-md">

        <div class="row align-items-start">

            <div class="container border-0 rounded-lg col-xl-10 col-12">

                <img class="d-block w-100" src="/resources/img/conheca_lgpd/logo_conheca_lgpd.png" alt="">


                <div class="col col-xl-10 col-md-10 col-sm-10 col-12 text-left">
                    <br>
                    <h1>O que você encontrará nessa página?</h1>

                    <div>
                        <p>Nessa página você encontrará tudo o que reunimos sobre a Lei Geral de Proteção de Dados Pessoais, ou mais conhecida
                            como LGPD, então aqui estará desde a lei na íntegra para você ler, até dicas de como se proteger de possíveis golpes
                            na internet, tudo baseado em fontes confiáveis (os links estarão presentes no final de cada artigo). Caso tenha alguma
                            sugestão, por favor entre em contato conosco através da guia de "Fale Conosco". </p>

                    </div>


                    <hr>

                    <h1>Lei na íntegra</h1>


                    <p>Para ler a lei de forma completa, basta clica no botão abaixo para baixar o documento da <a
                            href="https://legislacao.presidencia.gov.br/atos/?tipo=LEI&numero=13709&ano=2018&ato=293QzZ61UeZpWT79e"
                            target="_blank">Lei nº 13.709</a></p>


                    <div class="text-right mt-5">
                        <a href="/resources/contracts/Lei LGPD.pdf" class="btn btn-danger" download><i class="fa fa-download mr-2" aria-hidden="true"></i>Baixar Documento</a>
                    </div>


                    <hr class="mt-5 mb-5">

                    <h1>LGPD nas empresas</h1>


                    <div>

                        <p>A fim de gerar mais segurança, privacidade e tranquilidade em relação ao tratamento de dados de pessoas, a LGPD (Lei
                            Geral de Proteção de Dados) entrou em vigor em 2018, estabelece direitos e deveres que as empresas devem se adequar na
                            manipulação e tratamento de dados .</p>
                        <p>O Artigo 2º da LGPD estabelece alguns objetivos da lei.</p>
                        <p>A proteção de dados pessoais tem como objetivo:</p>
                        <ol type="I">
                            <li>o respeito à privacidade;</li>
                            <li>a autodeterminação informativa;</li>
                            <li>a liberdade de expressão, de informação, de comunicação e de opinião;</li>
                            <li>a inviolabilidade da intimidade, da honra e da imagem;</li>
                            <li>o desenvolvimento econômico e tecnológico e a inovação;</li>
                            <li>a livre iniciativa, a livre concorrência e a defesa do consumidor;</li>
                            <li>os direitos humanos, o livre desenvolvimento da personalidade, a dignidade e o exercício da cidadania pelas pessoas naturais.</li>
                        </ol>
                        <br>
                        <p>Porém, ainda é comum encontrar empresas que não se adequaram totalmente à legislação, podendo provocar prejuízos
                            legais e financeiros para a organização, e também da sua integridade.</p>
                        <ul>
                            <li>
                                <h4>Penalidades</h4>
                                <ul>
                                    <p>Sempre que os dados pessoais forem tratados por pessoais naturais (ser humano capaz) sem que exista uma finalidade
                                        econômica, não serão aplicados os termos da LGPD.</p>
                                </ul>
                            </li>

                            <li>
                                <h4>Multas</h4>
                                <ul>
                                    <p>Podem ser aplicadas sobre a porcentagem do faturamento da empresa podendo chegar de <b>2%</b>, até <b>50 milhões de reais por
                                        infração cometida</b>. A multa pode ser cobrada diariamente.</p>
                                </ul>
                            </li>

                            <li>
                                <h4>Bloqueio de dados pessoais</h4>
                                <ul>
                                    <p>Esse tipo de penalidade, impede as empresas de utilizarem os dados pessoais coletados, até a regularização das infrações cometidas.</p>
                                </ul>
                            </li>

                            <li>
                                <h4>Eliminação total da base de dados</h4>
                                <ul>
                                    <p>Dependendo do grau de risco, a empresa poderá ter que apagar todos os dados pessoais coletados da base de dados.</p>
                                </ul>
                            </li>

                            <li>
                                <h4>Impacto na imagem</h4>
                                <ul>
                                    <p>Outro impacto perigoso para quem não está em conformidade é a <b>NOTORIEDADE DA INFRAÇÃO</b>.</p>
                                    <p>Empresas que não acatarem as normas previstas em leis, poderão ter o ato infracional divulgado para conhecimento
                                        geral da população. Isso afeta diretamente na <b>reputação</b> e <b>autoridade</b> de uma organização, que terá a sua imagem
                                        manchada por irregularidades que poderiam ter sido evitadas.</p>
                                </ul>
                            </li>

                        </ul>

                        <h4>Por quem é feita a fiscalização da LGPD?</h4>
                        <ul>
                            <p>A Autoridade Nacional de Proteção e Dados (ANPD) é responsável por fiscalizar, orientar e penalizar empresas que não
                                se adequam às novas leis de tratamento de dados. Receber denúncias, sobre práticas irregulares das instituições com os
                                dados pessoais.</p>
                        </ul>

                    </div>


                    <hr class="mt-5 mb-5">

                    <h1>Como é a LGPD no exterior</h1>

                    <div>
                        <p>A LGPD ficou oito anos de discussão antes de ser criada. Ela tem como base GDPR (sigla em inglês para Regulamento
                            Geral de Proteção de Dados) que é a lei pioneira de proteção a dados pessoais e a privacidade da União Europeia.
                            Vigente desde 1995, ela foi criada após escândalos de vazamento e compartilhamento de dados sem consentimento dos
                            titulares feitos por grandes empresas de tecnologia, como o Facebook. </p>

                        <p>A GDPR é válida apenas para as empresas baseadas na Europa, que atuam no continente ou que utilizam dados de cidadãos
                            europeus. No entanto, grandes empresas de tecnologia têm estendido o cumprimento das exigências a todos os seus
                            usuários, independentemente do país de origem. O mesmo deve acontecer com a LGDP que é para utilização em território
                            nacional ou com dados de brasileiros, mas que pode atuar em outros países. </p>
                    </div>

                    <hr class="mt-5 mb-5">

                    <h1>Você sabe quando NÃO se deve aplicar a LGPD?</h1>

                    <div>


                        <p>Como regra, serão aplicados os termos da LGPD sempre que qualquer operação de tratamento de dados (coleta,
                            utilização, reprodução, dentre outros) for realizada no Brasil.</p>

                        <p>Contudo, quais as hipóteses em que não iremos aplicar a Lei Geral de Proteção de Dados – LGPD?</p>

                        <ul>
                            <li>
                                <h4>Dados Pessoais tratados por Pessoas naturais para fins Não Econômicos.</h4>
                                <ul>
                                    <p>Sempre que os dados pessoais forem tratados por pessoais naturais (ser humano capaz) sem que exista uma finalidade
                                        econômica, não serão aplicados os termos da LGPD.</p>
                                    <p>Exemplo: um usuário do Instagram posta, em sua conta pessoal, uma fotografia de uma terceira pessoa. Nesse caso,
                                        havendo conflito jurídico, não é possível aplicar a Lei Geral de Proteção de Dados.</p>
                                </ul>
                            </li>

                            <li>
                                <h4>Dados Pessoais tratados para fins Jornalísticos ou Artísticos</h4>
                                <ul>
                                    <p>Quando os dados pessoais forem tratados para fins jornalísticos ou artísticos, não será possível aplicar a LGPD.</p>
                                    <p>Essa é uma exceção de fundamental importância para fortalecer o exercício da liberdade de imprensa, que tem natureza
                                        constitucional, e garantir ao profissionais do jornalismo o livre direito de informar, opinar, criticar e questionar.
                                    </p>
                                    <p>Exemplo: Jornalista que pública em site de notícias o nome, o sobrenome e a fotografia de um suspeito de cometer um crime.</p>
                                </ul>
                            </li>

                            <li>
                                <h4>Dados Pessoais tratados para fins Acadêmicos</h4>
                                <ul>
                                    <p>Se os dados pessoais tratados tiverem finalidade exclusivamente acadêmica, ou seja, forem utilizados para pesquisas
                                        sem fins diretamente comerciais, não serão aplicados os termos da LGPD.</p>
                                    <p>É fundamental lembrar que havendo o tratamento de dados com fins acadêmicos, sempre que possível, tais dados devem
                                        ser anonimizados. Ou seja, deve se aplicar uma técnica para impossibilitar a identificação do titular dos dados.</p>
                                    <p>Exemplo: Pesquisador de uma Universidade Federal utiliza dados pessoais, de forma anonimizada, para fundamentar sua
                                        pesquisa sobre a longevidade da população brasileira.</p>
                                </ul>
                            </li>

                            <li>
                                <h4>Dados Pessoais tratados para fins de Segurança Pública, Defesa Nacional, Segurança do Estado e Atividades de
                                    Investigação e Repressão de Infrações Penais</h4>
                                <ul>
                                    <p>Nessa exceção, a LGPD passa a abordar o tratamento de dados pessoais pelo Poder Público.</p>
                                    <p>Por motivos óbvios, não serão aplicados os termos da Lei Geral de Proteção de Dados sempre que o Estado fizer o
                                        tratamento de dados pessoais para fins de: (i) Segurança Pública; (ii) Defesa Nacional; (iii) Segurança do Estado; e
                                        (iv) Atividades de Investigação e Repressão de Infrações Penais.</p>
                                    <p>É importante lembrar que a própria LGPD prevê, em seu Artigo 4º, § 1º, que uma legislação específica (ainda
                                        inexistente) deverá reger o tratamento de dados pessoais pelo Poder Público para as finalidades acima citadas.</p>
                                    <p>Enquanto essa nova legislação não for criada, estaremos em um “limbo jurídico”, onde o Poder Público estará tratando
                                        dados pessoais sem uma regulação específica.</p>
                                    <p>Exemplo: Autoridades divulgam um cartaz de “Procurado”, contendo o nome, sobrenome e o endereço de suspeito de cometer crimes.</p>
                                </ul>
                            </li>


                            <li>
                                <h4>Dados Pessoais Provenientes de Fora do Território Nacional Sem Comunicação ou Compartilhamento com Empresas Brasileiras</h4>
                                <ul>
                                    <p>Esta exceção está confusamente prevista no IV do Artigo 4º da LGPD, que dispõe o seguinte:</p>

                                    <p>Art. 4º Esta Lei não se aplica ao tratamento de dados pessoais:</p>
                                    <ol type="I" start="4">
                                        <p>(...)</p>
                                        <li>provenientes de fora do território nacional e que não sejam objeto de comunicação, uso compartilhado de dados com
                                            agentes de tratamento brasileiros ou objeto de transferência internacional de dados com outro país que não o de
                                            proveniência, desde que o país de proveniência proporcione grau de proteção de dados pessoais adequado ao previsto
                                            nesta Lei.</li>
                                    </ol>
                                    <br>

                                    <p>O objetivo de tal artigo é garantir que a LGPD não vai ser aplicada às empresas brasileiras (operadoras) contratadas
                                        por empresas estrangeiras (controladoras), quando os dados pessoais forem posteriormente “devolvidos” ao país de
                                        origem após o tratamento, desde que tal país tenha uma legislação de proteção de dados adequada.</p>

                                    <p>Exemplo: Uma empresa brasileira é contratada por uma empresa europeia para realizar o tratamento de dados pessoais de
                                        cidadãos europeus, sendo os dados, após o tratamento, devolvidos para a empresa europeia. Nesta hipótese, não se
                                        aplicarão as disposições da LGPD, mas as disposições da Legislação da Europa (GDPR).</p>

                                    <p>Porém, é importante ressaltar que a LGPD vai ser aplicada sempre que: (i) Os titulares dos dados estiverem
                                        localizados no Brasil; (ii) Os dados enviados pela empresa estrangeira forem compartilhados com outra (s) empresa (s)
                                        brasileira (s), independentemente de seus titulares serem brasileiros ou estrangeiros; e/ou (iii) Se o país onde se
                                        encontra a sede da empresa estrangeira não possuir uma legislação de proteção de dados adequadas. </p>

                                    <p>Essas são as exceções que a LGPD prevê para sua própria aplicação, sendo importante lembrar que, nos demais casos,
                                        sempre que houver o tratamento de dados pessoais em território nacional, deverão ser aplicadas as disposições da Lei
                                        Geral de Proteção de Dados.</p>
                                </ul>
                            </li>


                        </ul>



                    </div>


                    <hr class="mt-5 mb-5">

                    <h1>Quais os riscos de não seguir a LGPD?</h1>

                    <div>
                        <p>Quem não estiver em compliance com as normas da LGPD estará descumprindo a lei e isso pode gerar consequências gravíssimas para o seu negócio.</p>

                        <ul>
                            <li>
                                <h4>Multas de até 50 milhões </h4>
                                <ul>
                                    <p>A Lei Geral de Proteção de Dados prevê sanções de 2% sobre o faturamento ou até R$ 50 milhões. Vale frisar que esse
                                        valor é calculado por infração. Por isso, se você cometer mais de uma violação, a multa será multiplicada. </p>

                                    <p>O artigo 52 da LGPD também descreve penalidades diárias de acordo com o tempo em que a empresa vem descumprindo a legislação.</p>

                                    <p>Esses valores podem descapitalizar rapidamente uma empresa e colocar em jogo a saúde financeira de toda a sua
                                        operação. E empresário conscientes sabem que uma crise financeira é um dos piores cenários possíveis nos negócios e
                                        pode ocasionar a falência da empresa. </p>
                                </ul>

                                <h4>Má reputação para sua empresa</h4>
                                <ul>
                                    <p>Ainda que o seu negócio seja punido por falta de cuidado e de conhecimento sobre a nova lei, a mensagem que vai
                                        transmitir para o mercado e os clientes é que você agiu de má fé na forma como tratava os dados. </p>

                                    <p>Essa reputação pode culminar na perda de clientes e, consequentemente, em uma queda drástica no seu faturamento. </p>
                                </ul>

                                <h4>Perda de parceiros </h4>
                                <ul>
                                    <p>As grandes empresas costumam ser bastante rigorosas quando buscam parcerias. Elas querem garantir que suas aliadas
                                        estão em dia com suas obrigações fiscais e tributárias, não têm processos trabalhistas e possuem um código de ética
                                        para guiar suas ações. E quando a LGPD entrar em vigor é bem provável que fazer um tratamento correto de dados seja um
                                        dos requisitos para grandes parcerias. </p>

                                    <p>Pensando nisso, ter um histórico de problemas com a lei de proteção de dados pode fazer você perder a oportunidade de
                                        fazer novas parcerias e receber investimentos importantes. E isso é tudo que uma empresa em expansão não precisa!</p>
                                </ul>

                                <h4>Exclusão dos dados</h4>
                                <ul>
                                    <p>Se a sua marca utiliza dados pessoais é porque eles são importantes para suas estratégias. Então, com certeza, seria
                                        péssimo perder essas informações, não é mesmo? </p>

                                    <p>Bem, se não se adequar às normas da LGPD isso pode acontecer. A lei prevê o bloqueio e até mesmo a exclusão dos dados
                                        pessoais caso identifique que a empresa está fazendo a captação ou tratamento de maneira inadequada. </p>

                                    <p>Essa ação certamente iria prejudicar e atrasar bastante as operações do seu negócio, então não vale a pena arriscar!</p>

                                    <p>Multas altíssimas, perda de dados precisos, má reputação no mercado… Para evitar esses e outros problemas a solução é
                                        não comprometer o seu negócio e começar o planejamento já! </p>


                                </ul>
                            </li>
                        </ul>
                    </div>


                    <hr class="mt-5 mb-5">

                    <h1>LGPD e a Segurança online</h1>

                    <div>
                        <p>Milhões de pessoas pelo mundo estão online e fornecendo seus dados para diversos ambientes digitais. A cada momento
                            tem alguém criando logins e senhas para usar sites e aplicativos. Seja para comprar, estudar, trabalhar, postar fotos,
                            jogar, ouvir música, pagar boletos... Para isso, fornecemos dados como nossos e-mails, números de documentos, cartões
                            de crédito, padrões de consumo, preferências, histórico de navegação e tantos outros. </p>

                        <p>Tratamento de dados é qualquer procedimento que envolva a utilização de informações pessoais, tais como a coleta, a
                            classificação, a utilização, o processamento, o armazenamento, o compartilhamento, a transferência, a eliminação,
                            entre outras ações. </p>

                        <p>A LGPD determina as regras sobre o uso de dados pessoais em todas as transações online. A lei proibe o uso
                            indiscriminado de dados pessoais. Para estar de acordo com a legislação as empresas terão que definir a base legal
                            para uso do dado e deverão informar qual a finalidade específica dos dados utilizados. A LGPD também obriga que
                            empresas ou órgãos públicos excluam os dados após o fim do período de tratamento do mesmos, respeitando-se a
                            necessidade de cumprimento de outras leis, como trabalhistas e ficais. Além disso, as companhias serão obrigadas a
                            informar ao usuário quais dados pessoais estão na sua base se o mesmo solicitar. Informações de crianças e
                            adolescentes também estarão mais protegidas e só podem ser usadas com consentimento dos pais ou de responsáveis
                            legais. </p>

                        <p>Ainda há a garantia de um tratamento diferenciado de informações pessoais consideradas sensíveis. São tratados como
                            dados sensíveis os que se referem à origem racial ou étnica, convicção religiosa, opinião política, filiação a
                            sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado
                            genético ou biométrico. </p>
                    </div>

                    <hr class="mt-5 mb-5">

                </div>

            </div>

        </div>


    </div>


</div>
</body>

</html>