<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Lista de notícias E&P</title>
</head>

<body>
    <div layout:fragment="body">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/user/administrator-area}">Área do Administrador</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/question/list}">Lista de questões</a>
            </li>
            <li class="breadcrumb-item active">
                Detalhes da questão
            </li>
        </ol>

        <div class="row">
            <div class="col-12 col-md-12 text-center">
                <h1>Detalhes da questão</h1>
            </div>
        </div>
        <div class="col-md-12 text-center py-2">
            <div>
                <a th:href="@{/question/edit-question/{id} (id = ${myQuest.id})}" class="btn btn-warning col-sm-5 py-2">
                    Editar questão
                </a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger col-sm-5 py-2" data-toggle="modal"
                    data-target="#exampleModal">
                    Excluir questão
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="exampleModalLabel">
                                    Exclusão de questão
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Ao excluir essa questão, todas as referências dos testes a estas questões serão perdidas
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Cancelar operação
                                </button>
                                <a th:href="@{/question/delete-question/{id} (id = ${myQuest.id})}"
                                    class="btn btn-danger">
                                    Excluir Questão
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-2">
                <a th:href="@{/news/admin-list}" class="btn btn-secondary col-sm-10 py-2">
                    Voltar a lista de questões
                </a>
            </div>
            <div class="alert alert-danger col-12 text-center py-2" th:if="${deleteQuestionError}">
                <span class="font-weight-bold align-middle">
                    Não foi possível realizar a exclusão da questão. Por gentileza, tente novamente.
                </span>
            </div>
            <hr>
        </div>
        <!--Questionario-->
        <div class="accordion" id="accordion-parent">
            <!-- Pergunta 1 -->
            <div class="card">
                <div class="card-header">
                    <h3 th:text="${myQuest.pergunta}">Pergunta sobre LGPD?</h3>
                    <h6 th:if="${myQuest.nivel == 1}">Nível: Fácil</h6>
                    <h6 th:if="${myQuest.nivel == 2}">Nível: Médio</h6>
                    <h6 th:if="${myQuest.nivel == 3}">Nível: Difícil</h6>
                </div>
                <div class="card-body">
                    <div class="form-check py-2">
                        <input class="form-check-input" type="radio" th:checked="${myQuest.resposta == 'A'}" disabled>
                        <label class="form-check-label" style="white-space: pre;"
                            th:utext="'A) ' + ${myQuest.alternativaA}">
                            Respota A
                        </label>
                    </div>
                    <div class="form-check py-2">
                        <input class="form-check-input" type="radio" th:checked="${myQuest.resposta == 'B'}" disabled>
                        <label class="form-check-label" style="white-space: pre;"
                            th:utext="'B) ' + ${myQuest.alternativaB}">
                            Respota B
                        </label>
                    </div>
                    <div class="form-check py-2">
                        <input class="form-check-input" type="radio" th:checked="${myQuest.resposta == 'C'}" disabled>
                        <label class="form-check-label" style="white-space: pre;"
                            th:utext=" 'C) ' + ${myQuest.alternativaC}">
                            Respota C
                        </label>
                    </div>
                    <div class="form-check py-2">
                        <input class="form-check-input" type="radio" th:checked="${myQuest.resposta == 'D'}" disabled>
                        <label class="form-check-label" style="white-space: pre;"
                            th:utext="'D) ' + ${myQuest.alternativaD}">
                            Resposta D
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>