<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Meu perfil E&P</title>
</head>
<body>
<div layout:fragment="body">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="@{/}">Home</a>
        </li>
        <li class="breadcrumb-item active">
            Meu perfil
        </li>
    </ol>

    <div class="container-fluid text-center navbar-expand-md">

        <div class="row align-items-start">

            <div class="container col-12">
                <div class="row perfil">

                    <h1 class="col-12 py-3">Seja bem vindo(a) ao seu perfil</h1>

                    <div class="col-12 col-sm-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3 text-center">
                                    <img src="/resources/img/logo.png" width="200"
                                         class="rounded-circle img-fluid"/>
                                </div>
                                <div class="mb-2">
                                    <p class="text-center" th:text="${myUser.nome}">Nome do Usuário</p>
                                </div>
                            </div>
                        </div>

                        <div class="mb-2">
                            <a href="#"
                               class="btn btn-info col-12 btn-enviar-livro">Suas publicações</a>
                        </div>
                    </div>

                    <div class="mb-2 col-12 col-sm-7">

                        <div class="mb-2 card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">Usuário</div>
                                    <div class="col-sm-9">
                                        <label th:text="${myUser.nome}"> Nome do Usuário</label>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">Email</div>
                                    <div class="col-sm-9">
                                        <label th:text="${myUser.email}"></label>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">Data e Hora de criação da conta</div>
                                    <div class="col-sm-9" th:text="${dateCreate}">
                                        <label th:text="${dateCreate}"></label>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">Autor alguma notícia no site?</div>
                                    <div class="col-sm-9" th:if="@{myUser.isAutor}">Sim</div>
                                    <div class="col-sm-9" th:unless="@{myUser.isAutor}">Não</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">É dos prestadores de consultorias?</div>
                                    <div class="col-sm-9" th:if="@{myUser.isParceiro}">Sim</div>
                                    <div class="col-sm-9" th:unless="@{myUser.isParceiro}">Não</div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-2">
                            <a th:href="@{/user/edit}" class="btn btn-info col-12">Editar</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
</body>
</html>