<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Meu perfil E&P</title>
</head>

<body>
    <div layout:fragment="body">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Início</a>
            </li>
            <li class="breadcrumb-item active">
                Meu perfil
            </li>
        </ol>

        <div class="container-fluid text-center navbar-expand-md col-12">

            <div class="row align-items-start">

                <div class="container col-12">
                    <div class="row perfil">

                        <h1 class="col-12 py-3">Seja bem-vindo(a) ao seu perfil</h1>
                        <div class="alert alert-danger col-12 text-center" th:if="${deleteUserError}">
                            <span class="font-weight-bold align-middle">
                                Não foi possível realizar a exclusão da sua conta. Por gentileza, tente novamente.
                            </span>
                        </div>
                        <div class="col-12 col-sm-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-3 text-center">
                                        <img th:src="@{${myUser.pathImageProfile}}" width="200"
                                            class="rounded-circle img-fluid" />
                                    </div>
                                    <div class="mb-2">
                                        <p class="text-center" th:text="${myUser.nome}">Nome do Usuário</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <a th:href="@{/news/create-new-news}" class="btn btn-info col-12 btn-enviar-livro">
                                    Criar proposta de notícia
                                </a>
                            </div>
                            <div class="mb-2" th:unless="${myUser.parceiro}">
                                <a th:href="@{/partner/register}" class="btn btn-info col-12 btn-enviar-livro">
                                    Solicitar cadastro de consultor
                                </a>
                            </div>
                            <div th:if="${myUser.administrador} or ${myUser.parceiro} or ${myUser.autor}">
                                <hr>
                                <div class="mb-2" th:if="${myUser.administrador}">
                                    <a th:href="@{/user/administrator-area}" class="btn btn-primary col-12">
                                        Área do administrador
                                    </a>
                                </div>
                                <div class="mb-2" th:if="${myUser.parceiro}">
                                    <a th:href="@{/partner/my-data-as-partner}" class="btn btn-primary col-12">
                                        Área do consultor
                                    </a>
                                </div>

                                <div class="mb-2" th:if="${myUser.autor}">
                                    <a th:href="@{/news/user-news-list}" class="btn btn-primary col-12">
                                        Área do autor
                                    </a>
                                </div>
                            </div>
                            <div class="mb-2">
                                <a th:href="@{/knowledge-test/user-tests}" class="btn btn-primary col-12">
                                    Testes salvos
                                </a>
                            </div>
                        </div>

                        <div class="mb-2 col-12 col-sm-7">
                            <div class="mb-2 card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">Usuário</div>
                                        <div class="col-sm-9">
                                            <label th:text="${myUser.nome}"> Nome do Usuário</label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">Email</div>
                                        <div class="col-sm-9">
                                            <label th:text="${myUser.email}"></label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">Data e hora de criação da conta</div>
                                        <div class="col-sm-9">
                                            <label th:text="${dateCreate}"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-2">
                                <a th:href="@{/user/edit}" class="btn btn-info col-12">Editar
                                    meus dados</a>
                            </div>
                            <div class="mb-2">
                                <a th:href="@{/account/change-my-password}" class="btn btn-warning col-12">
                                    Alterar minha senha
                                </a>
                            </div>
                            <div class="mb-2">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger col-12" data-toggle="modal"
                                    data-target="#exampleModal">
                                    Excluir minha conta
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-center" id="exampleModalLabel">Exclusão
                                                    de
                                                    Conta</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Deseja realmente excluir a sua conta?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Não,
                                                    cancelar operação
                                                </button>
                                                <a th:href="@{/account/confirm-delete-account}"
                                                    class="btn btn-danger">Sim, excluir minha conta</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>