<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Home E&P</title>
</head>

<body>
    <div layout:fragment="body">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a th:href="@{/}">Home</a>
            </li>
        </ol>

        <div class="container-fluid text-center navbar-expand-md">

            <div class="row align-items-start">

                <div id="carouselExampleIndicators" class="carousel slide col-12" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/resources/img/carousel/slide1.jpg" alt="Primeiro Slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/resources/img/carousel/slide2.jpg" alt="Segundo Slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/resources/img/carousel/slide3.jpg" alt="Terceiro Slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Próximo</span>
                    </a>
                </div>


                <div class="col col-xl-2 col-md-12 col-sm-12 col-12 sidenav">
                    <br>
                    <h5>Notícias mais lidas</h5>
                    <div class="alert alert-danger col-12 text-center" th:unless="${existsNews}">
                        <span class="font-weight-bold align-middle">
                            Nenhuma notícia cadastrada no momento
                        </span>
                    </div>
                    <div class="" th:if="${existsNews}" th:each="news : ${newsList}">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <a th:href="@{/news/new/{id} (id = ${news.id})}">
                                        <p th:text="${news.titulo}">titulo</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-xl-10 col-md-12 col-sm-12 col-12 text-left">
                    <br>
                    <h1>Seja Bem Vindo(a)</h1>
                    <p>O site Entenda & Proteja tem como objetivo apresentar a Lei Geral de Proteção de Dados de forma simples e clara para
                        todas as pessoas, pois sabemos da importância de se proteger e cuidar dos seus dados. Aqui você estará repleto de
                        notícias voltadas para o mundo da tecnologia, dos avanços e atualizações da lei e sobre vazamentos no mundo inteiro,
                        e também poderá encontrar parceiros consultores caso necessite de serviços de auditoria da LGPD, e também uma área
                        para testar seus conhecimentos sobre a lei.</p>
                    <hr>
                    <h2>Mas o que é LGPD?</h2>
                    <img src="/resources/img/home/logo_lgpd.png" alt="LGPD" class="logo_lgpd">
                    <p>A Lei Geral de Proteção de Dados, aprovada no Congresso em 2018, é um marco na proteção dos dados pessoais dos
                        brasileiros que vem lutando desde a década de 90 para regulamentar leis que proteger, fiscalizar e punir violações
                        de direitos dos usuários que utilizam a internet. Esta lei foi inspirada na GPDR, a “General Data Protection
                        Regulation”, legislação em vigência na União Europeia desde 2018, a LGPD apresenta um novo cenário aos consumidores
                        e empresas.</p>
                    <p>A lei nº 13.709/18 é a norma que regulamenta o tratamento de dados pessoais coletados ou compartilhados, inclusive
                        por meios digitais. A LGPD conta com 65 artigos e alterou os artigos 7º e 16º do Marco Civil da internet.</p>
                    <p>O artigo 65 da LGPD diz respeito à vigência da lei, estipulada para o dia dezesseis de agosto de 2020 (2 anos após a
                        LGPD ter sido publicada no Diário Oficial). Contudo, a previsão da entrada em vigor de alguns itens referentes à
                        Autoridade Nacional de Proteção de Dados (ANPD), mais especificamente sobre a sua criação e funcionamento, era
                        28/12/2018. Mas devido à pandemia do COVID-19, no dia dezoito de setembro de 2020, a LGPD começou a vigorar, mas não por completo,
                        restando ainda 3 artigos da LGPD (52, 53, 54), os quais faziam referência às sanções administrativas. LGPD entrou em
                        vigor em sua totalidade, ou seja, a Lei Geral da Proteção de Dados de pessoa física (LGPD 2021) já está
                        vigorando. </p>

                    <hr>
                    <h3>O que são os tipos de dados em LGPD</h3>
                    <p>Os dados na LGPD são divididos em 4 tipos:</p>
                    <ol>
                        <li><b>Dados Pessoais:</b> O dado pessoal é aquele que possibilita a identificação, direta ou indireta, da pessoa viva. Exemplos: nome, apelido, e-mail etc.​</li>
                        <li><b>Dados Sensíveis:</b> Dentre os dados pessoais, há aqueles que estão sujeitos a condições de tratamento específicos, ou
                            seja, que exigem maior atenção: sobre crianças e adolescentes; e os “sensíveis”, que são os que revelam origem
                            racial ou étnica, convicções religiosas ou filosóficas, opiniões políticas, filiação sindical, questões genéticas,
                            biométricas e sobre a saúde ou a vida sexual de uma pessoa.​</li>
                        <li><b>Dados Públicos:</b> são aqueles dados que são acessíveis por todos, e segundo a LGPD um dado pode se tornar público
                            apenas mediante o fornecimento de consentimento do titular​</li>
                        <li><b>Dados Anonimizados:</b> Um dado é considerado anonimizado quando por via de técnicas de processamento de dados e/ou
                            outros meios não é possível se construir um caminho para identificar a pessoa titular dos dados.</li>
                    </ol>
                    <hr>
                    <h3>Um giro sobre LGPD</h3>
                    <div class="row marcador align-items-center">
                        <div class="col mx-auto text-center">
                            <img src="/resources/img/home/giro_lgpd.png" alt="" class="giro_lgpd img-responsive col-xl-7 col-12">
                        </div>
                    </div>

                    <hr>

                    <h3>Para saber mais</h3>
                    <p>Caso queira saber ainda mais sobre a LGPD preparamos uma página específica que se aprofundará mais a fundo, clique no link abaixo para saber mais</p>
                    <div class="col mx-auto text-center">
                        <a href="#" class="btn btn-info btn-lg">Saber mais</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>

</html>