<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Lista de usuários E&P</title>
</head>

<body>
    <div layout:fragment="body">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/user/administrator-area}">Área do Administrador</a>
            </li>
            <li class="breadcrumb-item active">
                Lista de usuários
            </li>
        </ol>

        <h1 class="text-center">Lista de Usuários</h1>
        <br>
        <a th:href="@{/user/administrator-area}" class="btn btn-secondary col-12 py-2">
            Área do administrador
        </a>
        <div class="container-fluid text-center navbar-expand-md py-2">
            <div class="row align-items-start">
                <div class="table-responsive">
                    <div class="alert alert-danger col-12 text-center" th:unless="${existsUsers}">
                        <span class="font-weight-bold align-middle">
                            Não foram encontrados usuarios cadastrados no sitema.
                        </span>
                    </div>
                    <table class="table table-bordered text-center table-hover table-hover" width="100%" id="tabela"
                        cellspacing="0" th:if="${existsUsers}">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Data Criação</th>
                                <th>Gerenciar</th>
                            </tr>
                            <tr class="col-12">
                                <th><input class="col-10" type="text" id="txtColuna2" /></th>
                                <th><input class="col-10" type="text" id="txtColuna3" /></th>
                                <th><input class="col-10" type="text" id="txtColuna4" /></th>
                                <th><i class="fa fa-search col-2" aria-hidden="true"></i></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Data Criação</th>
                                <th>Gerenciar</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr th:each="user : ${registeredUsers}">
                                <td th:text="${user.nome}" class="align-middle">Zezinho</td>
                                <td th:text="${user.email}" class="align-middle">zezinho_capixaba@gmail.com</td>
                                <td th:text="${#dates.format(new java.util.Date(user.dataHora), 'dd/MM/yyyy')}"
                                    class="align-middle"> 01/01/2022
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-12">
                                            <a th:href="@{/user/admin-profile/{id} (id = ${user.id})}"
                                                class="btn col-12 btn-info">
                                                <i class="fa fa-address-card" aria-hidden="true"></i>
                                                Detalhes
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</body>

</html>