<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Solicitacao de registro de consultor E&P</title>
</head>

<body>
    <div layout:fragment="body">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a th:href="@{/}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/user/administrator-area}">Área do Administrador</a>
            </li>
            <li class="breadcrumb-item">
                Notícias Rejeitadas
            </li>
        </ol>

        <h1 class="text-center">Lista de notícias rejeitadas</h1>
        <a th:href="@{/user/administrator-area}" class="btn btn-secondary col-12 py-2">
            Área do administrador
        </a>
        <div class="container-fluid text-center navbar-expand-md py-2">
            <div class="row align-items-start">
                <div class="table-responsive">
                    <div class="alert alert-danger col-12 text-center" th:unless="${existsNews}">
                        <span class="font-weight-bold align-middle">
                            Não existem noticias rejeitadas no sistema no momento.
                        </span>
                    </div>
                    <table class="table table-bordered text-center table-hover" id="tabela" width="100%" cellspacing="0"
                        th:if="${existsNews}">
                        <thead>
                            <tr>
                                <th class="col-6">Titulo</th>
                                <th class="col-2">Category</th>
                                <th class="col-2">Autor</th>
                                <th class="col-2">Ação</th>
                            </tr>
                            <tr class="col-12">
                                <th><input class="col-10 col-md-10" type="text" id="txtColuna1" /></th>
                                <th><input class="col-10 col-md-10" type="text" id="txtColuna2" /></th>
                                <th></th>
                                <th><i class="fa fa-search col-md-1" aria-hidden="true"></i></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="col-6">Titulo</th>
                                <th class="col-2">Category</th>
                                <th class="col-2">Autor</th>
                                <th class="col-2">Ação</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr th:each="news : ${publicationNews}">
                                <td th:text="${news.titulo}" class="align-middle">titulo</td>
                                <td th:text="${news.categoria}" class="align-middle">categoria</td>
                                <td class="align-middle">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="py-2" data-toggle="modal"
                                        th:attr="data-target='#userId'+${news.idAutor}">
                                        <i class="fa fa-address-card"></i>
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'userId' + ${news.idAutor}" tabindex="-1"
                                        role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-center" id="exampleModalLabel">
                                                        Dados do Autor
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="mb-2 card">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-sm-3"><strong>Nome</strong></div>
                                                                <div class="col-sm-9">
                                                                    <label th:text="${news.authorName}">
                                                                        Nome do Autor
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-sm-3"><strong>Email</strong></div>
                                                                <div class="col-sm-9">
                                                                    <label th:text="${news.authorEmail}"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info" data-dismiss="modal">
                                                        Detalhes do autor
                                                    </button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">
                                                        Fechar dialog
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <div class="col-12">
                                        <a href="#" class="btn col-12 btn-info">
                                            <i class="fas fa-eye"></i>
                                            Ler
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>