<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Proposta de noticia E&P</title>
    <script>
        function selectOneRadio() {
            let radioButtons = document.querySelectorAll('input[type=radio]');
            for (const radioButton of radioButtons) {
                if (radioButton.checked) {
                    return true;
                }
            }
            return false;
        }

        function articleNumber(article) {
            if (article.value < 0) {
                article.value = 0
            }
        }

        function validate() {
            let tipoButton = "submit";
            let existError = false;
            let messageError = "Não foi possível cadastrar seus dados.\n\nProblemas encontrado:\n";

            if (!selectOneRadio()) {
                tipoButton = "button";
                messageError += "Selecione pelo menos uma das categorias.\n"
                existError = true;
            }

            if (existError) {
                alert(messageError);
            }
            document.getElementById("updateNewsButton").setAttribute("type", tipoButton);
        }

        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("newsCoverId").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview").src = oFREvent.target.result;
            }
        }

    </script>
</head>

<body>
    <div layout:fragment="body">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Início</a>
            </li>
            <li class="breadcrumb-item">
                <a th:href="@{/user/profile}">Meu perfil</a>
            </li>
            <li class="breadcrumb-item active">
                <a th:href="@{/news/user-news-list}">Suas notícias</a>
            </li>
            <li class="breadcrumb-item active">
                <a th:href="@{/news/user-news-detail/{id} (id = ${myNews.id})}">Detalhes da notícia</a>
            </li>
            <li class="breadcrumb-item active">
                Editar notícia
            </li>
        </ol>

        <div class="container-fluid text-center navbar-expand-md col-12">
            <div class="row align-items-start">
                <div class="container col-12">
                    <div class="row perfil">
                        <h1 class="col-12 py-3">Proposta de notícia</h1>
                        <div class="mb-2 col-12">
                            <div class="alert alert-danger" th:if="${updateNewsError}">
                                <span class="font-weight-bold align-middle">
                                    Desculpe, não foi possível atualizar os dados da notícia. Por gentileza, tente
                                    novamente.
                                </span>
                            </div>
                            <form th:action="@{/news/update-user-news}" enctype="multipart/form-data" method="post"
                                th:object="${myNews}">
                                <div class="mb-2 card">
                                    <div class="card-body">
                                        <div class="custom-file">
                                            <label for="newsCoverId">Imagem da capa da notícia</label>
                                            <input class="form-control" type="file" name="newsCover" accept="image/*"
                                                id="newsCoverId" onchange="PreviewImage();">

                                        </div>
                                        <img class="d-block w-100 banner_noticia" id="uploadPreview"
                                            th:src="@{${myNews.pathImageNews}}" alt="banner_exemplo">
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">Título</div>
                                            <div class="col-sm-9">
                                                <input th:field="${myNews.titulo}" type="text" class="form-control"
                                                       data-toggle="tooltip" data-placement="top" title="Dado Público!" required>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-2">Artigo da LGPD</div>
                                            <div class="col-sm-2">
                                                <input th:field="${myNews.artigo}" type="number" min="0"
                                                    class="form-control" oninput="articleNumber(this)" required>
                                            </div>
                                            <div class="col-sm-3">Palavras chaves</div>
                                            <div class="col-sm-5">
                                                <input th:field="${myNews.palavraChave}" type="text"
                                                    class="form-control"  required>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">Categoria</div>
                                            <div class="col-sm-9 text-left">
                                                <div class="form-check" th:each="category : ${categoryList}">

                                                    <input class="form-check-input" th:field="${myNews.categoria}"
                                                        type="radio" th:id="${category}" th:value="${category}"
                                                        th:checked="${myNews.categoria eq category}">

                                                    <label class="form-check-label" th:text="${category}"
                                                        th:for="${category}">categoria</label>
                                                </div>

                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">Notícia</div>
                                            <div class="col-sm-9">
                                                <textarea th:field="${myNews.contexto}" class="form-control" rows="10"
                                                          data-toggle="tooltip" data-placement="top" title="Dado Público!" required></textarea>
                                            </div>
                                        </div>
                                        <hr>
                                        <input type="text" th:field="${myNews.id}" hidden>
                                        <input type="text" th:field="${myNews.situacao}" hidden>
                                        <input type="text" th:field="${myNews.pathImageNews}" hidden>
                                        <input type="text" th:field="${myNews.idAutor}" hidden>
                                        <input type="text" th:field="${myNews.idPublicador}" hidden>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <button type="submit" id="updateNewsButton" onclick="validate()"
                                        class="btn btn-success col-12">Atualizar dados
                                    </button>
                                </div>
                                <div class="mb-2">
                                    <a th:href="@{/news/user-news-detail/{id} (id = ${myNews.id})}"
                                        class="btn btn-danger py-2 col-12">
                                        Cancelar atualização
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>