<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Alterar senha E&P</title>
    <script>
        function validade() {
            let pass = document.getElementById("inputPassword");
            let confirPass = document.getElementById("inputConfirmPassword");

            let tipoButton = "submit";
            let existError = false;

            let titleMessageError = "Erro ao atualizar senha";
            let messageError = "";

            if (pass.value != confirPass.value) {
                tipoButton = "button";
                messageError += "Foram informadas senhas diferentes nos compos \"Nova senha\" e \"Confirmar nova senha\".\n";
                existError = true;
            }

            if (existError) {
                showModelError(messageError, titleMessageError)
            }

            document.getElementById("updatePassword").setAttribute("type", tipoButton);
        }


        window.onload = function () {
            var changeError = $("#changePasswordError").is(":checked");

            let messageError = "";
            let existError = false;
            let titleMessageError = "";

            if (changeError) {
                messageError = "Desculpe, não foi possível concluir a alteração da senha. Por gentileza, tente novamente.";
                existError = true;
                titleMessageError = "Erro durante alteração de senha";
            }

            if (existError) {
                showModelError(messageError, titleMessageError)
            }
        }
    </script>
</head>

<body>
    <div layout:fragment="body">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Início</a>
            </li>
            <li class="breadcrumb-item">
                Cadastrar nova senha
            </li>
        </ol>

        <div class="container-fluid text-center navbar-expand-md col-12">
            <div class="row align-items-start">
                <div class="container card border-0 rounded-lg col-12 col-xl-8 login">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light">Mudança de senha</h3>
                        <img src="/resources/img/logo_invertido.png" alt="logo">
                    </div>

                    <div class="card-body">
                        <input type="checkbox" id="changePasswordError" th:checked="${changePasswordError}" hidden />

                        <form th:action="@{/account/update-user-password}" method="post" th:object="${usuario}">
                            <div class="form-group">
                                <label class="small mb-1" for="inputPassword">Nova senha</label>
                                <span data-tooltip="Dado Anônimo">
                                    <input class="form-control py-4" id="inputPassword" type="password"
                                        placeholder="Insira a nova senha" data-toggle="tooltip" data-placement="top"
                                        title="Dado Privado!" th:field="${usuario.senha}" required />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputConfirmPassword">Confirmar nova senha</label>
                                <span data-tooltip="Dado Anônimo">
                                    <input class="form-control py-4" id="inputConfirmPassword" type="password"
                                        placeholder="Confirme a nova senha" data-toggle="tooltip" data-placement="top"
                                        title="Dado Privado!" required />
                            </div>
                            <input type="hidden" id="userId" name="userId" th:field="${usuario.id}" th:value />
                            <br>
                            <button class="btn btn-info" id="updatePassword" onclick="validade()"
                                type="submit">Atualizar
                                senha
                            </button>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>
</body>

</html>