<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Alterar senha E&P</title>
    <script>
        function validade() {
            let pass = document.getElementById("inputPassword");
            let confirPass = document.getElementById("inputConfirmPassword");

            let inputOldPassword = document.getElementById("inputOldPassword");
            let oldUserPassword = document.getElementById("oldUserPassword");

            let tipoButton = "submit";
            let existError = false;
            let messageError = "Não foi possível alterar sua senha.\n\nProblemas encontrado:\n";

            if (inputOldPassword.value != oldUserPassword.value) {
                tipoButton = "button";
                messageError += "A senha atual informada não é a sua senha atual.\n";
                existError = true;
            }

            if (pass.value != confirPass.value) {
                tipoButton = "button";
                messageError += "Foram informadas senhas diferentes no compo \"Nova senha\" e \"Confirmar nova senha\".\n";
                existError = true;
            }

            if (existError) {
                alert(messageError);
            }

            document.getElementById("updatePasswordButton").setAttribute("type", tipoButton);
        }

    </script>
</head>

<body>
<div layout:fragment="body">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="@{/}">Início</a>
        </li>
        <li class="breadcrumb-item active">
            <a th:href="@{/user/profile}">Pefil</a>
        </li>
        <li class="breadcrumb-item">
            Alterar minha senha
        </li>
    </ol>

    <div class="container-fluid text-center navbar-expand-md col-12">
        <div class="row align-items-start">
            <div class="container card border-0 rounded-lg col-12 col-xl-8 login">
                <div class="card-header">
                    <h3 class="text-center font-weight-light">Mudança de senha</h3>
                    <img src="/resources/img/logo_invertido.png" alt="logo">
                </div>

                <div class="card-body">
                    <div class="alert alert-danger" th:if="${changePasswordError}">
                            <span class="font-weight-bold align-middle">Desculpe, não foi possível concluir a alteração
                                da senha. Por gentileza, tente novamente.</span>
                    </div>
                    <form th:action="@{/account/update-password}" method="post" th:object="${myUser}">
                        <div class="form-group">
                            <label class="small mb-1" for="inputOldPassword">Senha Atual</label>
                            <input class="form-control py-4" id="inputOldPassword" type="password"
                                   placeholder="Insira a senha atual" data-toggle="tooltip" data-placement="top"
                                   title="Dado Privado!" required/>
                        </div>

                        <div class="form-group">
                            <label class="small mb-1" for="inputPassword">Nova senha</label>
                            <span data-tooltip="Dado Anônimo">
                                <input class="form-control py-4" id="inputPassword" type="password"
                                       placeholder="Insira a nova senha" th:field="${myUser.senha}"
                                       data-toggle="tooltip" data-placement="top" title="Dado Privado!" required/>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputConfirmPassword">Confirmar nova senha</label>
                            <span data-tooltip="Dado Anônimo">
                                <input class="form-control py-4" id="inputConfirmPassword" type="password"
                                       placeholder="Confirme a nova senha" data-toggle="tooltip" data-placement="top"
                                       title="Dado Privado!" required/>
                        </div>
                        <input type="hidden" id="oldUserPassword" name="oldUserPassword"
                               th:value="${oldUserPassword}"/>
                        <input type="hidden" id="userId" name="userId" th:field="${myUser.id}" th:value/>
                        <br>
                        <button class="btn btn-success" id="updatePasswordButton" onclick="validade()"
                                type="submit">Atualizar senha
                        </button>
                        <a class="btn btn-secondary" th:href="@{/user/profile}">
                            Cancelar operação
                        </a>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>
</body>

</html>